<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Node Site</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse">
            <a href="/" class="navbar-brand">Mon Site</a>
            <ul class="nav navbar-nav">
                <li><a href="/">Acceuil</a></li>
                <li><a href="/about">à propos</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>


    <!-- MAIN CONTENT HERE -->
    <%- defineContent('hero') %>

        <main>
            <div class="container">
                <%- body %>
            </div>
        </main>

        <footer>
            Digital 7 Site Tutoriel. Copyright &copy; 2017

        </footer>
</body>

</html>