<%- contentFor('hero') %>
    <section class="hero">
        <div class="hero-content">
            <h2>Tout sur nous!
            </h2>
            <p>Nous sommes une petite équipe.</p>

            <a href="/contact" class="btn btn-lg btn-primary">Écrivez-nous
            </a>
        </div>
    </section>

    <%- contentFor('body') %>
        <div class="jumbotron text-center">
            <h1>L'équipe
            </h1>

            <div class="row">
                <% for (user of users) { %>
                    <div class="col-sm-3">
                        <h2>
                            <%= user.name %>
                                <img src="<%= user.avatar %>" alt="" class="img-responsive">
                    </div>
                    <% } %>
            </div>
        </div>