<%- contentFor('hero') %>
    <section class="hero">
        <div class="hero-content">
            <h2>Bienvenue sur le site!!</h2>
            <p>Le meilleur endroit pour être</p>

            <a href="/home" class="btn btn-lg btn-primary">commencé</a>
            <a href="/contact" class="btn btn-lg btn-primary">Contact</a>
        </div>
    </section>

    <%- contentFor('body') %>
        <div class="jumbotron text-center">
            Home Page
        </div>